
div {
	display:block;
}


#debug {
	margin-top: 20px;
}

#hdr {
	background-color: black;
	height:60px
}

.hdr-elem {
	float:left;
	height:60px;
	line-height:60px;
	vertical-align: middle;
}

.container {
	width:1200px;
	margin:auto;
}

#logo-pic {
	width: 60px;
}
#logo-container {
	width: 100px;
	font-size:0;
}

#filler {
	width:900px;
}
#user-container {
	color: white;
	width:200px;
	text-align:right;
}


/* jqplot style */
.jqplot-target {
	color:#666;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
}
.jqplot-title {
	font-size:1.2em;
	padding-bottom:0.5em;
}
.jqplot-axis {
	font-size:0.75em;
}
.jqplot-xaxis {
	margin-top:10px;
}
.jqplot-yaxis {
	margin-right:10px;
}
.jqplot-highlighter-tooltip {
	border:1px solid #ccc;
	font-size:.75em;
	white-space:nowrap;
	background:rgba(208,208,208,0.5);
	padding:1px;
}

